.dark {
  color: rgb(253, 252, 252);
  background: #2b3844;
  border: 1px solid #feffff;
  border-bottom: 1px solid #f6f8f8;
}

.light {
  color: #2b3844;
  border: 1px solid #909191;
  border-bottom: 1px solid #909191;
}
.filterfield {
  max-width: 12.5rem;
  border: none;
  /* box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439); */
  border-radius: 5px;
  padding-right: 1.125em;
  box-shadow: 0 0 0.44rem -0.0625rem rgb(0 0 0 / 43%);

  /* background-color: #ffffff; */
  /* padding-right: 1.125em; */
  /* border: 1px sienna solid; */
}
.filter {
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
  /* color: red; */
  /* margin-top: 1.125em;
  margin-bottom: 1.125em; */
  padding-left: 1.5em;
  padding-right: 2.938em;
  font-size: 0.875rem;
}
::placeholder {
  /* color: #848484; */
  font-size: 0.875rem;
  /* background-color: #ffffff; */
}

.InputArea {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: none;
  gap: none;
  height: none;
  width: none;
  margin: 40px 0px;
  /* border: 1px solid green; */
}
.inputfield {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 0.44rem -0.0625rem rgb(0 0 0 / 43%);
  max-width: 30rem;
  padding-top: 1.125em;
  padding-bottom: 1.125em;
  /* background-color: #ffffff; */
  border: none;
  /* border: 1px solid yellow; */
}
.search {
  border-radius: 5px;
  border: none;
  margin-right: 16.875em;
  max-width: 8.5rem;
  margin-left: 1.5em;
  /* background-color: #ffffff; */
  /* border: 1px solid blue; */
}

.InputArea select {
  font-size: 14px;
  border: none;
}

svg {
  border: none;
  margin-left: 2em;
  height: 1.125rem;
}

@media screen and (max-width: 1034px) {
  .InputArea .search {
    /* height: 48px; */
    width: 100%;
    margin: start auto;
    padding: 0px 12%;
  }
}
@media screen and (max-width: 800px) {
  .InputArea {
    flex-direction: column;
    gap: 30px;
  }
  .InputArea .search {
    height: 48px;
    width: 100%;
    margin: start auto;
    padding: 0px 12%;
  }
  .InputArea select {
    height: 48px;
    width: 100%;
    margin: auto start;
    padding: 0px 3%;
  }
}
@media screen and (max-width: 500px) {
  .InputArea .search {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 120px;
    /* border: 1px solid blue; */
  }
  svg {
    width: 25px;
    height: 20px;
    margin-left: 40px;
    /* border: 1px solid red; */
  }
  .inputfield {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100vw;
    /* border: 1px red solid; */
  }
  .InputArea select {
    width: 100%;
  }
}
