@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Nunito+Sans:wght@400;600;700;800&display=swap");

.light {
  color: #111517;
}

.dark {
  color: #ffffff;
  background: #2b3844;
}

.SingleCountry {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 80px;
  padding: 0px 4%;
  border-radius: 0.3rem;
  /* border: 3px solid yellow; */
}
.SingleCountry img {
  width: 100%;
  margin: 0;
  max-width: 559.71px;
  border-radius: 0.3rem;
}
.SingleCountry .countryData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 598px;
  margin-right: 60px;
  margin-left: 0;
  padding-top: 65px;
  /* border: 1px solid red; */
}
.SingleCountry .countryData h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 30px;
  /* border: 1px solid green; */
}
.SingleCountry .countryData .dataArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid blue; */
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.SingleCountry .countryData .dataArea p {
  margin: 5px 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 32px;
  /* border: 1px solid pink; */
}
.SingleCountry .countryData .dataArea p span {
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}
.SingleCountry .countryData .dataArea p .language {
  font-weight: 10;
  font-family: "Nunito Sans", sans-serif;

  margin: 5px;
}
.SingleCountry .countryData .dataArea .topLevel span {
  font-weight: bold;
}
.SingleCountry .countryData .borderArea {
  display: flex;
  width: 100%;
  /* gap: 10px; */
  flex-direction: column;
  /* border: 1px solid red; */
}
.SingleCountry .countryData .borderArea p {
  width: 100%;
  max-width: 130px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 15px;
  line-height: 24px;
  /* border: 1px solid yellow; */
}
.SingleCountry .countryData .borderArea .borders {
  display: grid;
  max-width: 300px;
  font-family: "Nunito Sans", sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  align-items: center;
  
  /* border: 1px solid blue; */
}
.SingleCountry .countryData .borderArea .borders .singleBorder {
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
  /* max-width: 57px; */
  width: 100%;
  font-size: 12px;
  
  /* color: #000; */
  margin: none none;
  padding: 4px 10px;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 28px;
  /* max-width: 190px; */
  line-height: 16px;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

@media screen and (max-width: 540px) {
  .SingleCountry {
    padding-left: 28px;
    padding-right: 28px;
  }
  .SingleCountry .countryData {
    margin-bottom: 50px;
  }
  .SingleCountry .countryData .borderArea .borders {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 400px) {
  .SingleCountry .countryData .borderArea .borders {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .SingleCountry .countryData .borderArea .borders .singleBorder {
    max-width: 130px;
  }
}
@media screen and (min-width: 500px) {
  .SingleCountry .countryData .dataArea {
    flex-direction: row;
    gap: 100px;
    /* border: 1px solid green; */
  }
  .SingleCountry .countryData .borderArea {
    flex-direction: row;
  }
  .SingleCountry .countryData .borderArea .borders {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 770px) {
  .SingleCountry img {
    width: 700px;
    height: 400px;
  }
  .SingleCountry .countryData {
    width: 700px;
    /* margin: auto; */
  }
  .SingleCountry .countryData h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
  }
  .SingleCountry .countryData .dataArea {
    flex-direction: row;
    gap: 200px;
    padding-bottom: 0px;
  }
  .SingleCountry .countryData .dataArea p {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
  }
  .SingleCountry .countryData .dataArea p span {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
  }
  .SingleCountry .countryData .borderArea p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .SingleCountry .countryData .borderArea .borders .singleBorder {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 810px) {
  .SingleCountry {
    flex-direction: row;
    gap: 8%;
  }
  .SingleCountry img {
    width: 170%;
    height: 400px;
    margin-top: -0.001px;
  }
  .SingleCountry .countryData {
    width: 100%;
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
  }
  .SingleCountry .countryData .dataArea {
    flex-direction: column;
    gap: 10px;
  }
  .SingleCountry .countryData .borderArea {
    flex-direction: column;
    gap: 0px;
  }
  .SingleCountry .countryData .borderArea .borders {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .SingleCountry {
    flex-direction: row;
    gap: 8%;
  }
  .SingleCountry img {
    width: 100%;
    height: auto;
    margin-top: -0.001px;
  }
  .SingleCountry .countryData {
    width: 120%;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
  }
  .SingleCountry .countryData .dataArea {
    flex-direction: row;
    justify-content: space-between;
  }
  .SingleCountry .countryData .borderArea {
    flex-direction: row;
  }
  .SingleCountry .countryData .borderArea .borders {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .SingleCountry .countryData .borderArea .borders .singleBorder {
    max-width: 120px;
  }
}
