@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap");
.light {
  color: #111517;
}

.dark {
  color: #ffffff;
  background: #2b3844;
}

.header {
  height: 20px;
  width: none;
  margin: auto auto;
  padding: 24px;
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  box-shadow: 2px 2px 1em rgba(0, 0, 0, 0.2);
}
.header h1 {
  padding: 23px 0 24px 81px;
  font-size: 24px;
  line-height: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
.header p {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}
.header p .themeIcon {
  height: 8px;
}
.header p .themeIcon ::after {
  padding: 2px 7px;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 90px;
    width: 100%;
    margin: auto auto;
    padding: 5% none;
  }
  .header h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }
  .header p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 820px) {
  .header {
    height: 80px;
    width: 100%;
    margin: auto auto;
    padding: 2% none;
  }
  .header h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }
  .header p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 750px) {
  .header h1 {
    font-size: 14px;
  }
  .header p {
    font-size: 12px;
  }
  .header {
    padding-left: 16px;
  }
}
@media screen and (max-width: 540px) {
  .header h1 {
    padding-left: 16px;
  }
}
